

.CuadroLoginR {
    font-size: 20px;
    font-family: "Montserrat"; 
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 750px;
    border-radius: 30px;
    background-color: #d9d9d9;
    display: flex;
}

.IzquierdaR img {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-top: 40px;
    object-fit: cover;
    height: 680px;
    width: 320px;
    border-radius: 30px;
    margin-left: 10%;
}

.DerechaR {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-right: 60px;
    margin-top: 5%;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.FormR{
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foto {
    padding-inline: 50%;
}

.DerechaR img {
    width: 300px;
    border-radius: 30px;
}

.input {
    margin-top: 15px;
    padding-inline-start: 20px;
    padding-inline-end: 70px;
    padding-block: 10px;
    margin-bottom: 15px;
    
}
input:focus {
    outline:none!important;
}

.white {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.font {
    font-family: "Montserrat";
    font-size: 0.8em;
    color: black;
}

.EntrarR {
    background: #D64E4E;
    padding: 10px;
    padding-inline: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    cursor: pointer;
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

.button2R {
    text-decoration: none;
    background: #f5f5f5;
    padding: 10px;
    padding-inline: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    cursor: pointer;
    color: #7c7c7c;
    font-size: 0.8em;
    text-decoration: none;

}

a {

    text-decoration: none;
}



input {
    background-color: #f5f5f5;
    border: none;
    border-radius: 30px;
}